<table class="ma2">
	<tr class="white bg-c2c-blue">
		<th class="pa2">index</th>
		<th class="pa2">first name</th>
		<th class="pa2">last name</th>
		<th class="pa2">email</th>
		<th class="pa2">school district</th>
		<th class="pa2">age</th>
		<th class="pa2">experience</th>
	</tr>
	<tr ng-repeat="participant in participants">
		<td class="pa1 pl2 pr2 tc">{{$index + 1}}</td>
		<td class="pa1 pl2 pr2 tc">{{participant.firstName}}</td>
		<td class="pa1 pl2 pr2 tc">{{participant.lastName}}</td>
		<td class="pa1 pl2 pr2 tc">{{participant.email}}</td>
		<td class="pa1 pl2 pr2 tc">{{participant.district}}</td>
		<td class="pa1 pl2 pr2 tc">{{participant.age}}</td>
		<td class="pa1 pl2 pr2 tc">{{participant.experience}}</td>
	</tr>
</table>

<br>
<br>

<table class="ma2">
	<tr class="white bg-c2c-blue">
		<th class="pa2">index</th>
		<th class="pa2">group name</th>
		<th class="pa2">leader name</th>
		<th class="pa2">leader email</th>
		<th class="pa2">school district</th>
		<th class="pa2">group size</th>
	</tr>
	<tr ng-repeat="group in groups">
		<td class="pa1 pl2 pr2 tc">{{$index + 1}}</td>
		<td class="pa1 pl2 pr2 tc">{{group.groupName}}</td>
		<td class="pa1 pl2 pr2 tc">{{group.leaderName}}</td>
		<td class="pa1 pl2 pr2 tc">{{group.leaderEmail}}</td>
		<td class="pa1 pl2 pr2 tc">{{group.district}}</td>
		<td class="pa1 pl2 pr2 tc">{{group.groupSize}}</td>
	</tr>
</table>
