<!-- TODO

1. Add categories above fold
2. Fix Email FAQ tile on mobile
3. Fix location icon on scale

-->

<!-- GLOBAL -->
<div class="h-100 gray-mountain-background">

	<div class="h-100">
		<center>
			<div class="w-100">
				<!-- Sign up CTA on middle right -->

				<p class="f-5-ns f1-m f3 fw4 pt3 white c2c-orange-underline" style="font-family: Montserrat"><a href="http://twitter.com/home?status=I%20just%20registered%20for%20%40convert2code%27s%20free%20%23HolidayHack2018!%20Want%20to%20learn%20to%20code%20or%20share%20your%20code%20with%20others%3F%20Register%20here%3A%20http%3A%2F%2Fconvert2code.com%2F%23!%2Fholidayhack%20%23lancasterpa%20%23converttocode" target="_blank" class="white"><span class="c2c-orange-underline">#HolidayHack2018</span></a></p>

				<div class="w-40 dib-ns v-top tl white tc mr4 dn">

					<div class="dib-ns dn f4 fw4 bg-darker-gray br2 center no-outline">
						<a href="https://www.facebook.com/convert2code" target="_blank" class="white hvr-shrink ma2">
							<i class="fa fa-facebook fa-1x fa-fw"></i>
						</a>

						<a href="https://www.instagram.com/convert2code" target="_blank" class="white hvr-shrink ma2">
							<i class="fa fa-instagram fa-1x fa-fw"></i>
						</a>

						<a href="https://www.twitter.com/convert2code" target="_blank" class="white hvr-shrink ma2">
							<i class="fa fa-twitter fa-1x fa-fw"></i>
						</a>

						<a href="mailto:converttocode@gmail.com" class="white hvr-shrink ma2">
							<i class="fa fa-envelope fa-1x fa-fw"></i>
						</a>
					</div>

					<p class="f2-ns f3-m pt1 fw7"> Join Convert to Code for some <span class="c2c-orange-underline">happy holiday hacking!</span></p>
					<div>
						<p class="dib f3-ns f4-m fw5">December 15, 2018 | 9:30 AM - 3:30 PM</p>
						<p class="dib">
							<span class="di f3 fw5">
								<a href="https://goo.gl/NecErL" target="_blank">
									<i class="fa fa-map-marker fa-1x fa-fw light-red tooltip pointer">
										<span class="di tooltiptext f5">
											<span class="triangle-left-light-red triangle-left v-top"></span><span  class="bg-light-red white br2 pa2 v-top">100 W Millport Rd, Lititz, PA 17543</span>
										</span>
									</i>
								</a>
							</span>
						</p>
					</div>
					<p class="f4 fw5 tl lh-copy-ns lh-title-m mt1">Meet awesome coders, learn from each other, and build awesome stuff! Don’t know how to code? No worries! At <a href="http://twitter.com/home?status=I%20just%20registered%20for%20%40convert2code%27s%20free%20%23HolidayHack2018!%20Want%20to%20learn%20to%20code%20or%20share%20your%20code%20with%20others%3F%20Register%20here%3A%20http%3A%2F%2Fconvert2code.com%2F%23!%2Fholidayhack%20%23lancasterpa%20%23converttocode" target="_blank" class="white fw7">#HolidayHack2018</a>, we’ll have code mentors, in-house workshops, and code starter packs to help you out. All ages and skill levels are welcome. And best of all? It’s free. No cost. No strings attached. We'll provide the pizza--see you there!</p>
					<p class="f3-ns f4-m tl lh-copy-ns lh-title-m tc">with limitless possibilities - <span class="c2c-orange-underline">what can you create?</span></p>
				</div>

				<div class="dib w-30-ns w-40-m w-90 bg-white mt4-ns mt1 pa2 br3 shadow-1">

					<div ng-click="toggle('indiv')" class="dib no-outline pointer pa3 bw2 ba b--white fll w-50 tc f4 fw1" ng-mouseenter="indiv = true" ng-mouseleave="indiv = false">Individual</div>
					<div ng-click="toggle('group')" class="dib no-outline pointer pa3 bw2 ba b--white fll w-50 tc f4 fw1" ng-mouseenter="group = true" ng-mouseleave="group = false">Group</div>
					<div class="dib w-50 fll br2 h-5px" ng-class="(indiv || registerToggle === 'indiv') ? 'bg-c2c-orange' : 'bg-white' "></div>
					<div class="dib w-50 fll br2 h-5px" ng-class="(group || registerToggle === 'group') ? 'bg-c2c-orange' : 'bg-white' "></div>
					<span ng-show="registerToggle === 'indiv'">
						<form name="individualSignupForm" novalidate>
							<ng-form name="individualForm">
								<div class="db">
									<input type="text" class="w-100 mt2 mb1 pa3 center" placeholder="first name" name="firstName" ng-model="firstName" required>
									<p class="help-block light-red tc" ng-show="individualForm.firstName.$invalid && !individualForm.firstName.$pristine">This field is required</p>
								</div>

								<div class="db">
									<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="last name" name="lastName" ng-model="lastName" required>
									<p class="help-block light-red tc" ng-show="individualForm.lastName.$invalid && !individualForm.lastName.$pristine">This field is required</p>
								</div>

								<div class="db">
									<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="email" name="email" ng-model="email" required>
									<p class="help-block light-red tc" ng-show="individualForm.email.$invalid && !individualForm.email.$pristine">This field is required</p>
									<p class="help-block light-red tc" ng-show="!(emailRegEx.test(email)) && !individualForm.email.$pristine">Please enter a valid email address</p>
								</div>

								<div class="db">
									<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="school district" name="schoolDistrict" ng-model="schoolDistrict" required>
									<p class="help-block light-red tc" ng-show="individualForm.schoolDistrict.$invalid && !individualForm.schoolDistrict.$pristine">This field is required</p>
								</div>

								<div class="db ma1">
									<span class="dib mr2-ns">
										<label for="age" class="pa3-ns center gray">Age</label>
										<div class="mt1">
											<span class=""><i class="fa fa-minus fa-1x fa-fw gray dim pointer no-outline" ng-click="age > 1 ? age = age - 1 : age;"></i></span>
											<span class="gray fw9 f3">{{age}}</span>
											<span class=""><i class="fa fa-plus fa-1x fa-fw gray dim pointer no-outline" ng-click="age = age + 1;"></i></span>
										</div>
									</span>

									<span class="dib ml2-ns">
										<label for="experience" class="pa3-ns center gray">Experience: <span class="black">{{experience_levels[experience - 1]}}</span></label>
										<div class="mt1">
											<span class=""><i class="fa fa-minus fa-1x fa-fw gray dim pointer no-outline" ng-click="experience > 1 ? experience = experience - 1 : experience;"></i></span>
											<span class="gray fw9 f3">{{experience}}<span class="black"> / 5</span></span>
											<span class=""><i class="fa fa-plus fa-1x fa-fw gray dim pointer no-outline" ng-click="experience < 5 ? experience = experience + 1 : experience;"></i></span>
										</div>
									</span>
								</div>

								<input type="button" value="count me in!" class="w-100 pointer pa3 mt2 no-outline no-border white fw6 f4 br2 bg-c2c-blue hover-c2c-off-blue" ng-click="submitIndividual()" ng-disabled="individualForm.$invalid" ng-show="!registerMessage">
								<p class="w-100 pa3 mt2 no-outline no-border white fw2 f9 br2 bg-white green" ng-show="registerMessage">{{registerMessage}}</p>
							</ng-form>
						</form>
					</span>

					<span ng-show="registerToggle === 'group'">
						<form name="groupSignupForm" novalidate>
							<ng-form name="groupForm">

								<div class="db">
									<input type="text" class="w-100 mt2 mb1 pa3 center" placeholder="group name" name="groupName" ng-model="groupName" required>
									<p class="help-block light-red tc" ng-show="groupForm.groupName.$invalid && !groupForm.groupName.$pristine">This field is required</p>
								</div>

								<div class="db">
									<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="group leader's name" name="leaderName" ng-model="leaderName" required>
									<p class="help-block light-red tc" ng-show="groupForm.leaderName.$invalid && !groupForm.leaderName.$pristine">This field is required</p>
								</div>

								<div class="db">
									<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="group leader's email" name="leaderEmail" ng-model="leaderEmail" required>
									<p class="help-block light-red tc" ng-show="groupForm.leaderEmail.$invalid && !groupForm.leaderEmail.$pristine">This field is required</p>
									<p class="help-block light-red tc" ng-show="!(emailRegEx.test(leaderEmail)) && !groupForm.leaderEmail.$pristine">Please enter a valid email address</p>
								</div>

								<div class="db">
									<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="school district" name="groupDistrict" ng-model="groupDistrict" required>
									<p class="help-block light-red tc" ng-show="groupForm.groupDistrict.$invalid && !groupForm.groupDistrict.$pristine">This field is required</p>
								</div>

								<div class="db ma1">
									<label for="groupSize" class="pa3 center gray">Group Size</label>
									<div class="mt1">
										<span class=""><i class="fa fa-minus fa-1x fa-fw gray dim pointer no-outline" ng-click="groupSize > 1 ? groupSize = groupSize - 1 : groupSize;"></i></span>
										<span class="gray fw9 f3">{{groupSize}}</span>
										<span class=""><i class="fa fa-plus fa-1x fa-fw gray dim pointer no-outline" ng-click="groupSize = groupSize + 1;"></i></span>
									</div>
								</div>
								<input type="button" value="count us in!" class="w-100 pointer pa3 mt2 no-outline no-border white fw6 f4 br2 bg-c2c-blue hover-c2c-off-blue" ng-click="submitGroup()" ng-disabled="groupForm.$invalid" ng-show="!registerMessage">
								<p class="w-100 pa3 mt2 no-outline no-border white fw2 f9 br2 bg-white green" ng-show="registerMessage">{{registerMessage}}</p>
							</ng-form>
						</form>
					</span>
				</div>
			</div>
		</center>
		<div class="w-100 absolute bottom-1 tc">
			<div class="dib f4 fw4 pa2 hvr-shrink white bg-darker-gray br2 center no-outline pointer" ng-click="scrollDown()">
				learn more<span><i class="fa fa-chevron-down fa-1x fa-fw white"></i></span>
			</div>
		</div>
	</div>

	<div class="w-100 bg-c2c-blue white pa3 tc" id="learnmore">

		<div class="flex justify-center">
			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>What is a hackathon?</h3>
					<p class="f4 fw4">A Hackathon is a 'coding marathon' where you convert your crazy ideas and passions into code.</p>
				</div>
			</div>

			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>Never Coded Before?</h3>
					<p class="f4 fw4">No problem! We’ll have code mentors, introductory workshops, and code starter packs just for you!</p>
				</div>
			</div>

			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>Cost?</h3>
					<p class="f4 fw4">#HolidayHack2018 is completely free of charge! No matter who you are or where you come from, you are always welcome to any Convert to Code event at no cost.</p>
				</div>
			</div>
		</div>

	</div>

	<div class="w-100 bg-white pa3 tc holiday-hack-banner-background">

		<div class="w-40-ns w-90 mt5 mb5 center shadow-4">
			<div class="dib w-100 bg-light-red br2 pa2">
				<h1 class="f1 ma1 pa3 pb0 black fw7 white">hack</h1>
				<h2 class="mt0 ml1 pl3 black fw5">/hak/</h2>
				<h2 class="mt0 ml1 pl3 black fw7"><i>v.</i> <span class="fw4 f3 white lh-copy">to achieve novel and clever outcomes by creatively overcoming limitations of software systems</span></h2>
			</div>
		</div>
<!--
		<h1 class="gray">Competition Categories</h1>

		<div>
			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Transportation</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Space</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Gaming</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>
		</div>
		<div>
			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Medical</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Design</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Sports</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>
		</div>
		<div>
			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Security</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Hardware</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			<div class="dib tc w-20 ma2 pa3 v-top f3 bg-light-red br4 white shadow-4">
				<div class="dib">
					<h3>Other</h3>
					<p class="f4 fw4"></p>
				</div>
			</div>

			social good

		</div> -->

	</div>

	<div class="w-100 bg-c2c-orange white pa3 tc">
		<h1 class="">FAQs</h1>

		<div class="flex justify-center">
			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>Where and When?</h3>
					<p class="f4 fw4"><a href="https://listrak.com/">Listrak</a>, is graciously hosting #HolidayHack2018 at their <a href="https://goo.gl/NecErL">headquarters</a> on Saturday, December 15, 2018 from 9:30 AM to 3:30 PM. We will hack for 6 hours straight!</p>
				</div>
			</div>

			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>Who can come?</h3>
					<p class="f4 fw4">Everyone is welcome. If you are an experienced coder, come! If you’ve never seen a line of code in your life, come! If you love computers or just want to learn more about how they work, we have something for everyone. </p>
				</div>
			</div>

			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>What should I bring?</h3>
					<p class="f4 fw4">
						<ul class="ma0 tl">
							<li>laptop (not tablet)</li>
							<li>charger</li>
							<li>snacks</li>
							<li>your imagination!</li>
						</ul>
					</p>
				</div>
			</div>
		</div>

		<div class="flex justify-center">
			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>What if I don’t know how to code?</h3>
					<p class="f4 fw4">To help you learn, we have code starter packs, introductory workshops, and code mentors on hand. By the end of the hackathon, you should be able to build something you are proud of!</p>
				</div>
			</div>

			<div class="dib-ns db w-20-ns w-30-m w-90 ma2 pa3 v-top f3 bg-white br4 gray shadow-4 tc">
				<div class="dib">
					<h3>Other Questions?</h3>
					<p class="f4 fw4">Contact us at <a href="mailto:converttocode@gmail.com">converttocode@gmail.com</a>! We’ll get back to you at our earliest convenience. Additionally, if you’d like to help us out, we’d love to hear from you! :)</p>
				</div>
			</div>
		</div>

	</div>

	<div class="w-100 bg-c2c-blue white pa3">
		<div class="w-50 center ma2 mb3 tc">

			<a href="https://www.facebook.com/convert2code" target="_blank" class="white hvr-shrink ma2">
				<i class="fa fa-facebook fa-2x fa-fw"></i>
			</a>

			<a href="https://www.instagram.com/convert2code" target="_blank" class="white hvr-shrink ma2">
				<i class="fa fa-instagram fa-2x fa-fw"></i>
			</a>

			<a href="https://www.twitter.com/convert2code" target="_blank" class="white hvr-shrink ma2">
				<i class="fa fa-twitter fa-2x fa-fw"></i>
			</a>

			<a href="mailto:converttocode@gmail.com" class="white hvr-shrink ma2">
				<i class="fa fa-envelope fa-2x fa-fw"></i>
			</a>
		</div>
		<div id="footer-notes white" class="white ma2 mt3 tc">&copy 2018, Convert to Code.</div>
	</div>
</div>

<div class="f4 fw4 pa2 hvr-shrink white bg-c2c-orange br2 center no-outline pointer fixed top-2 right-2 dn" id="signupbutton" ng-click="scrollUp()">
	let's get coding<span><i class="fa fa-chevron-up fa-1x fa-fw white"></i></span>
</div>
