<form name="" novalidate>
	<ng-form name="loginForm">
		<div class="db">
			<!-- Need the .value ? -->
			<input type="text" class="w-100 mt2 mb1 pa3 center" placeholder="username" name="username" ng-model="username" required>
			<p class="help-block light-red tc" ng-show="loginForm.username.$invalid && !loginForm.username.$pristine">This field is required</p>
			<p class="help-block light-red tc" ng-show="usernames.contains(loginForm.username.value) && !loginForm.username.$pristine">This username is already taken</p>
		</div>

		<div class="db">
			<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="password" name="password" ng-model="password" required>
			<p class="help-block light-red tc" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">This field is required</p>
		</div>

		<div class="db">
			<input type="text" class="w-100 mt1 mb1 pa3 center" placeholder="confirm password" name="confirmPassword" ng-model="" required>
			<p class="help-block light-red tc" ng-show="!loginForm.password.$pristine">This field is required</p>
			<p class="help-block light-red tc" ng-show="loginForm.password.value !== loginForm.confirmPassword.value && !loginForm.password.$pristine">Passwords must match</p>
		</div>

		<div>
			<div ng-repeat="tag in tags">{{tag}}</div>
		</div>

		<input type="button" value="register me!" class="w-100 pointer pa3 mt2 no-outline no-border white fw6 f4 br2 bg-c2c-blue hover-c2c-off-blue" ng-click="register()" ng-disabled="loginForm.$invalid">
	</ng-form>
</form>
