<div class="w-100">
	<h1 class="w-90 center ma0">
		<input type="text" name="" placeholder="Write a New Post" ng-model="newPost.postTitle" class="w-100 pa2 br3 f3 mb2">
	</h1>
	<!-- WRITE NEW POST -->
	<div class="w-90 center">

		<div>
			<!-- Add ng-style to each tag -->
			<div ng-style="{ 'background-color': tag.backgroundColor, 'border-color': tag.backgroundColor, 'color': tag.fontColor }" class="dib montserrat pa2 br3 mt1 mr1 ml1 fw1 white pointer bg-animate no-outline" ng-repeat="tag in newPostTags" ng-click="toggleTag(tag._id)" ng-class=" selectedTags.includes(tag._id) ? 'o-50' : 'o-100' ">#{{tag.tag}}</div>
			<div class="dib pa2 br3 bg-light-red ma1 white pointer ba b--light-red hover-bg-white hover-light-red bg-animate no-outline" ng-click="main.openModal = true">+ tag</div>
		</div>
		<div class="mt2 tc">
			<!-- TODO: Add markdown explainer with examples in this field... -->
			<textarea name="" placeholder="content" ng-model="newPost.postContent" class="w-100 db mb2" ng-show="!markdownPreview"></textarea>
			<div id="preview" ng-show="markdownPreview" class="tl"></div>
			<div class="w-100 tl">
				<input type="button" name="post" value="+ post" ng-click="newPost()" class="bg-c2c-orange white b-c2c-orange hover-bg-white hover-c2c-orange-color pointer pl3 pr3 pt2 pb2 br2 bg-animate no-outline">
				<input type="button" name="previewToggle" value="{{markdownPreview ? 'edit' : 'preview'}}" ng-click="preview()" class="bg-c2c-orange white b-c2c-orange hover-bg-white hover-c2c-orange-color pointer pl3 pr3 pt2 pb2 br2 bg-animate no-outline">
			</div>
		</div>
	</div>
	<!-- ALL MY POSTS -->
	<!-- NEED A PLACE FOR SAVED POSTS TOO -->
	<div class="w-90 center">

		<div ng-repeat="post in myPosts" class="mt2 mb2 pa3 ba br3 b-c2c-orange">
			<span>{{post.title}}</span>
			<!-- <span>{{post.content}}</span> -->
			<div class="dib">
				<i class="fa fa-pencil fa-1x fa-fw c2c-orange pointer tooltip"></i>
				<a href="/#!/post/{{post._id}}/view"><i class="fa fa-eye fa-1x fa-fw c2c-orange pointer"></i></a>
				<i class="fa fa-trash-o fa-1x fa-fw red pointer"></i>
			</div>
		</div>
	</div>

	<!-- CREATE NEW TAG MODAL -->
	<!-- TODO: Allow font color change -->
	<!-- TODO: Standardize tag display/styles -->
	<div id="modal" class="br3 shadow-4" ng-class="main.openModal ? '' : 'dn' ">
		<i class="fa fa-times fa-1x fa-fw pointer dib flr pa2 gray dim no-outline" ng-click="main.openModal = false"></i>
		<h3 class="tc">Create new Tag!</h3>

		<div class="w-90 tc center">
			<div class="mt2 mb1 gray">red</div>
  		<input type="range" min="1" max="255" value="100" class="custom-slider" ng-model="newTag.newTagRed">
  		<div class="mt2 mb1 gray">green</div>
  		<input type="range" min="1" max="255" value="100" class="custom-slider" ng-model="newTag.newTagGreen">
  		<div class="mt2 mb1 gray">blue</div>
  		<input type="range" min="1" max="255" value="100" class="custom-slider" ng-model="newTag.newTagBlue">
		</div>

		<div class="mt1 mb1">
			<span class="v-btm">white</span>
			<label class="switch">
	  		<input type="checkbox" ng-model="newTag.isFontBlack">
	  		<span class="slider">
			</label>
			<span class="v-btm">black</span>
		</div>

		<input type="text" placeholder="tag" class="db center pa1 gray" ng-model="newTag.newTagText">
		<div class="ma3">
			<span class="pl3 pr3 pt2 pb2 br3 black montserrat" ng-style="{ 'background-color': 'rgb(' + newTag.newTagRed + ',' + newTag.newTagGreen + ',' + newTag.newTagBlue + ')', 'color': newTag.isFontBlack ? '#000' : '#fff' }">#{{newTag.newTagText}}</span>
		</div>
		<input type="button" name="createTag" value="create" ng-click="createTag()" class="db ma2 center bg-c2c-blue white b-c2c-blue hover-bg-white hover-c2c-blue-color pointer pl3 pr3 pt2 pb2 br2 bg-animate w-40 no-outline">
	</div>
	<div id="overlay" class="bg-gray" ng-class="main.openModal ? '' : 'dn' "></div>

</div>
