<div class="w-100 bg-blue">
	<h1>New Post</h1>
	<!-- WRITE NEW POST -->
	<div>

		<div>
			<!-- Add ng-style to each tag -->
			<span ng-repeat="tag in newPostTags" ng-click="toggleTag(tag)">{{tag}}</span>
		</div>
		<input type="text" name="" placeholder="title" ng-model="newPost.postTitle">
		<input type="text" name="" placeholder="content" ng-model="newPost.postContent">
		<input type="button" name="post" value="+ post" ng-click="newPost()">
	</div>
	<!-- ALL MY POSTS -->
	<div>

		<div ng-repeat="post in myPosts">
			<span>{{post.title}}</span>
			<span>{{post.content}}</span>
		</div>

	</div>

</div>
