<div class="w-100">
	<h1 class="w-90 center ma0">
		<input type="text" name="" placeholder="Write a New Post" ng-model="newPost.postTitle" class="w-100 pa2 br3 f3 mb2">
	</h1>
	<div class="w-90 center">
		<div ng-repeat="post in myPosts" class="mt2 mb2 pa3 ba br3 b-c2c-orange">
			<span>{{post.title}}</span>
			<!-- <span>{{post.content}}</span> -->
			<div class="dib">
				<i class="fa fa-pencil fa-1x fa-fw c2c-orange pointer tooltip"></i>
				<a href="/#!/post/{{post._id}}/view"><i class="fa fa-eye fa-1x fa-fw c2c-orange pointer"></i></a>
				<i class="fa fa-trash-o fa-1x fa-fw red pointer"></i>
			</div>
		</div>
	</div>
</div>
